# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Playwright e2e artifacts
test-results
playwright-report

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.claude



# Local env files
.env
.env.*
!.env.example

# Deploy state (blue-green slot, sha, lock, logs) — VPS-local, written by scripts/deploy.sh
.deploy/
